<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:debug>{_all}</f:debug>
<div class="ctype_{data.CType}">
    <f:if condition="{images}">
        <f:then>
            <f:for each="{images}" as="image">
                <figure class="image">
                    <f:image src="{f:uri.image(image: image)}" alt="{image.alternative}" title="{image.title}" />
                </figure>
            </f:for>
        </f:then>
    </f:if>

</html>